header {
    height: 40px;
    background-color: lightslategrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top-header ul {
    display: flex;
    justify-content: space-between;
}

.title-wrap h1 {
    font-size: 55px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.title-wrap p {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    color: dimgray;
}

.contents-left h2 {
    font-size: 30px;
}

.contents-left p {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.main-visual {
    display: flex;
}

.main-visual img {
    width: 350px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.contents-right h3 {
    font-size: 30px;
}

.contents-right {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    margin-left: 1000px;
}

footer {
    text-align: center;
    padding: 25px;
    background-color: lightslategrey;
}

footer p {
    color: white;
}



@media screen and (max-width:768px) {
    .header-left img {
        width: 100px;
    }

    .contents-right {
        display: flex;
        justify-content: flex-start;
        margin-left: 0px;
    }


}

けさない