header {
    height: 40px;
    background-color: lightslategrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top-header ul {
    display: flex;
    justify-content: space-between;
}

.title-wrap h1 {
    font-size: 55px;
    text-align: center;
    display: flex;
}

p {
    text-align: center;
    display: flex;
}

.contents-left p {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}


.main-visual img {
    width: 400px;
    text-align: center;
    margin: 0 auto;
}


.contents-right p {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    margin-left: 700px;
}